In [43]:
import pandas as pd
df = pd.read_csv('/home/spongebob_episodes.csv');
df.head(5)

,Airdate,Animation,Animation Supervisor,Copyright year,Creative,Episode №,Guest(s),Line Producer,Main,Next,...,Storyboard,Storyboard Artist(s),Supervising,Supervising Producer(s),Technical,U.S. premiere time (ET),U.S. viewers (millions),Writer(s),characters,title
0,1997/1998,Alan Smart,NaN,"['1997 (1997 version)', '1999 (1999 version)']",Derek Drymon (uncredited),1a,NaN,NaN,NaN,"""Reef Blower""",...,Stephen Hillenburg,Derek Drymon,NaN,NaN,NaN,9:30 pm,2.96,"['Stephen Hillenburg', 'Derek Drymon', 'Tim Hi...","French Narrator, Sea urchins, SpongeBob Square...",Help Wanted
1,"May 1, 1999","['Fred Miller', 'Tom Yasumi (uncredited)']",NaN,1999,Derek Drymon (uncredited),1b,NaN,NaN,NaN,"""Tea at the Treedome""",...,Paul Tibbitt (uncredited),Jay Lender (uncredited),NaN,NaN,NaN,9:38 pm,2.96,"['Stephen Hillenburg', 'Derek Drymon', 'Tim Hi...","SpongeBob SquarePants, Squidward Tentacles, Re...",Reef Blower
2,"May 1, 1999",Tom Yasumi,NaN,1999,Derek Drymon,1c,NaN,NaN,NaN,"""Bubblestand""",...,Paul Tibbitt,Mark O'Hare,NaN,NaN,NaN,9:45 pm,2.96,"['Peter Burns', 'Doug Lawrence', 'Paul Tibbitt']","SpongeBob SquarePants, Jellyfish, Lavender jel...",Tea at the Treedome
3,"July 17, 1999",Tom Yasumi,NaN,1999,Derek Drymon,2a,NaN,NaN,NaN,"""Ripped Pants""",...,Ennio Torresan,Erik Wiese,NaN,NaN,NaN,10:00 am,2.51,"['Ennio Torresan', 'Erik Wiese', 'Stephen Hill...","SpongeBob SquarePants, Scallop, Squidward Tent...",Bubblestand
4,"July 17, 1999",Edgar Larrazábal,NaN,1999,Derek Drymon,2b,Jay Lender as Chef (uncredited),NaN,NaN,"""Jellyfishing""",...,Paul Tibbitt,Mark O'Hare,NaN,NaN,NaN,10:15 am,2.51,"['Paul Tibbitt', 'Peter Burns']","French Narrator, SpongeBob SquarePants, Sponge...",Ripped Pants

In [44]:
df.isnull().sum()

Airdate                      0
Animation                   14
Animation Supervisor       581
Copyright year               0
Creative                   254
Episode №                    0
Guest(s)                   393
Line Producer              515
Main                       562
Next                         0
Previous                     1
Production code              0
Running time                 0
Season №                     0
Sister episode(s)           31
Storyboard                 106
Storyboard Artist(s)       373
Supervising                355
Supervising Producer(s)    126
Technical                  544
U.S. premiere time (ET)      1
U.S. viewers (millions)      1
Writer(s)                    2
characters                   0
title                        0
dtype: int64

In [45]:
df.dtypes

Airdate                    object
Animation                  object
Animation Supervisor       object
Copyright year             object
Creative                   object
Episode №                  object
Guest(s)                   object
Line Producer              object
Main                       object
Next                       object
Previous                   object
Production code            object
Running time               object
Season №                    int64
Sister episode(s)          object
Storyboard                 object
Storyboard Artist(s)       object
Supervising                object
Supervising Producer(s)    object
Technical                  object
U.S. premiere time (ET)    object
U.S. viewers (millions)    object
Writer(s)                  object
characters                 object
title                      object
dtype: object

In [46]:
print(len(df))
df['U.S. premiere time (ET)'].value_counts()

583

U.S. premiere time (ET)
8:00 pm     67
5:00 pm     54
8:15 pm     46
7:00 pm     41
10:00 am    34
            ..
7:33 pm      1
9:15 am      1
7:34 pm      1
9:00 am      1
TBA          1
Name: count, Length: 72, dtype: int64

In [47]:
df['_800'] = df['U.S. premiere time (ET)'].apply(lambda x: 1 if x == '8:00 pm' else 0)
df['_500'] = df['U.S. premiere time (ET)'].apply(lambda x: 1 if x == '5:00 pm' else 0)
df['_815'] = df['U.S. premiere time (ET)'].apply(lambda x: 1 if x == '8:15 pm' else 0)
df['_700'] = df['U.S. premiere time (ET)'].apply(lambda x: 1 if x == '7:00 pm' else 0)
df['_1000'] = df['U.S. premiere time (ET)'].apply(lambda x: 1 if x == '10:00 am' else 0)
df['_other'] = ((df['_800'] == 0) & (df['_500'] == 0) & (df['_700'] == 0) & (df['_815'] == 0) & (df['_1000'] == 0) ).astype(int)
df['Season №'] = df['Season №'].astype(int)
df = df.rename(columns={'Season №': 'season'})

df['fred'] = df['Storyboard Artist(s)'].apply(lambda x: 1 if x == 'Fred Osmond' else 0)
df['jhon'] = df['Storyboard Artist(s)'].apply(lambda x: 1 if x == 'John Trabbic' else 0)
df['Brian'] = df['Storyboard Artist(s)'].apply(lambda x: 1 if x == 'Brian Morante' else 0)
df['Erik'] = df['Storyboard Artist(s)'].apply(lambda x: 1 if x == 'Erik Wiese	' else 0)
df['Greenblatt'] = df['Storyboard Artist(s)'].apply(lambda x: 1 if x == 'C.H. Greenblatt' else 0)
df['Kelly'] = df['Storyboard Artist(s)'].apply(lambda x: 1 if x == 'Kelly Armstrong' else 0)
df['Caleb'] = df['Storyboard Artist(s)'].apply(lambda x: 1 if x == 'Caleb Meurer' else 0)
df['outros'] = ((df['fred'] == 0) & (df['jhon'] == 0) & (df['Brian'] == 0) & (df['Erik'] == 0) & (df['Greenblatt'] == 0) & (df['Kelly']== 0) & (df['Caleb']==0)).astype(int)

In [48]:
df['U.S. viewers (millions)'] = pd.to_numeric(df['U.S. viewers (millions)'], errors='coerce')
df['U.S. viewers (millions)'].describe()
df = df.dropna(subset=['U.S. viewers (millions)'])
df = df.rename(columns={'U.S. viewers (millions)': 'viewers'})

In [57]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

def reglin_train_evaluate(df, features, target):
  df = df.dropna(subset=features)
  df = df.dropna(subset=target)
  x = df[features]
  y = df[[target]]
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

  model = LinearRegression()
  model.fit(x_train, y_train)

  y_train_pred = model.predict(x_train)
  y_test_pred = model.predict(x_test)

  print("R² treino: ", r2_score(y_train, y_train_pred))
  print("R² teste: ", r2_score(y_test, y_test_pred))

  coef_table = pd.DataFrame(list(x_train.columns)).copy()
  coef_table.insert(len(coef_table.columns),"Coefs",model.coef_.transpose())
  print(coef_table)

features = ['_800','_500','_815','_700','_1000', '_other', 'season','fred','jhon','Brian','Erik','Greenblatt','Kelly','Caleb','outros']
target = 'viewers'
reglin_train_evaluate(df, features, target)

R² treino:  0.41128390304843143
R² teste:  0.4229828888662136
             0         Coefs
0         _800  3.802035e-01
1         _500  1.817225e-01
2         _815 -1.156196e-01
3         _700 -2.600923e-01
4        _1000 -1.156371e-01
5       _other -7.057702e-02
6       season -2.538314e-01
7         fred  1.719878e-01
8         jhon  2.553144e-01
9        Brian  8.954225e-02
10        Erik -5.551115e-17
11  Greenblatt -9.810233e-01
12       Kelly  2.118068e-01
13       Caleb -1.998622e-01
14      outros  4.522343e-01

In [58]:

def mlp_train_evaluate(df, features, target):
  df = df.dropna(subset=features)
  df = df.dropna(subset=target)
  x = df[features]
  y = df[[target]]
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

  ss = StandardScaler()
  x_train_scaled = ss.fit_transform(x_train)
  x_test_scaled = ss.transform(x_test)

  nn = MLPRegressor(max_iter=500)
  nn.fit(x_train_scaled, y_train.values.ravel())

  y_test_pred_nn = nn.predict(x_test_scaled)
  y_train_pred_nn = nn.predict(x_train_scaled)

  print(r2_score(y_train, y_train_pred_nn))
  print(r2_score(y_test, y_test_pred_nn))


features = ['_800','_500','_815','_700','_1000', '_other', 'season','fred','jhon','Brian','Erik','Greenblatt','Kelly','Caleb','outros']
target = 'viewers'
mlp_train_evaluate(df, features, target)

0.7495255045335382
0.704154475255796

In [59]:
from warnings import simplefilter
from sklearn.utils._testing import ignore_warnings
from sklearn.exceptions import ConvergenceWarning
simplefilter("ignore", category=ConvergenceWarning)

def mlp_train_evaluate_grid_search(df, features, target):
  df = df.dropna(subset=features)
  df = df.dropna(subset=target)
  x = df[features]
  y = df[[target]]
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

  ss = StandardScaler()
  x_train_scaled = ss.fit_transform(x_train)
  x_test_scaled = ss.transform(x_test)

  # optimizing
  parameters = {
    'hidden_layer_sizes': [(5,), (10,), (10, 5,), (20, 10,)],
    'activation': ['relu', 'logistic', 'tanh'],
    'solver': ['adam', 'lbfgs'],
    'learning_rate': ['constant', 'adaptive'],
  }
  nn = MLPRegressor(max_iter=500)
  clf = GridSearchCV(nn, parameters, refit=True, return_train_score=True)
  clf.fit(x_train_scaled, y_train.values.ravel())

  print("Melhores parâmetros:")
  print(clf.best_params_)

  nn_optimized = clf.best_estimator_

  y_test_pred_nn = nn_optimized.predict(x_test_scaled)
  y_train_pred_nn = nn_optimized.predict(x_train_scaled)

  print(r2_score(y_train, y_train_pred_nn))
  print(r2_score(y_test, y_test_pred_nn))


features = ['_800','_500','_815','_700','_1000', '_other', 'season','fred','jhon','Brian','Erik','Greenblatt','Kelly','Caleb','outros']
target = 'viewers'
mlp_train_evaluate_grid_search(df, features, target)

Melhores parâmetros:
{'activation': 'relu', 'hidden_layer_sizes': (20, 10), 'learning_rate': 'constant', 'solver': 'lbfgs'}
0.8309873533094496
0.6031259771716151

In [56]:
df['Storyboard Artist(s)'].value_counts()

Storyboard Artist(s)
Fred Osmond                                                                                              27
John Trabbic                                                                                             22
Brian Morante                                                                                            18
Erik Wiese                                                                                               10
C.H. Greenblatt                                                                                          10
Kelly Armstrong                                                                                           9
Caleb Meurer                                                                                              7
['Carson Kugler', 'William Reiss', 'Erik Wiese']                                                          7
['Carson Kugler', 'William Reiss', 'Mike Roth']                                                           7
Mark O'Hare                                                                                               6
Aaron Springer                                                                                            6
Jay Lender                                                                                                6
William Reiss                                                                                             5
['Carson Kugler', 'Caleb Meurer', 'William Reiss']                                                        4
Lynne Naylor                                                                                              4
['Chuck Klein', 'Carson Kugler', 'Caleb Meurer', 'William Reiss']                                         3
Zeus Cervas                                                                                               3
Chris Mitchell                                                                                            3
Vincent Waller                                                                                            3
Shellie O'Brien                                                                                           2
Mike Roth                                                                                                 2
Chong Lee                                                                                                 2
Chuck Klein                                                                                               2
['Jay Lender (uncredited)', 'Dan Povenmire (uncredited)']                                                 2
Bob Camp                                                                                                  2
['Chris Allison', 'Ryan Kramer']                                                                          2
['Paul Tibbitt', 'Ennio Torresan, Jr.']                                                                   2
['Casey Alexander', 'Zeus Cervas']                                                                        1
Derek Drymon                                                                                              1
Joe Wierenga                                                                                              1
Howie Perry                                                                                               1
['Brad Vandergrift', 'Erik Wiese']                                                                        1
Ed Baker                                                                                                  1
['Fred Osmond', 'Marc Ceccarelli (uncredited)']                                                           1
['Brian Morante', 'Sally Cruikshank']                                                                     1
['Zeus Cervas', 'Garrett Ho', 'Brad Vandergrift', 'Erik Wiese']                                           1
['Caleb Meurer', 'Carson Kugler', 'William Reiss', 'Mike Roth']                                           1
['Zeus Cervas', 'Brad Vandergrift']                                                                       1
['Carson Kugler', 'Erik Wiese', 'William Reiss']                                                          1
['Chris Mitchell', 'Jay Lender']                                                                          1
["Mark O'Hare", 'Ennio Torresan, Jr.', 'Erik Wiese']                                                      1
['Paul Tibbitt (uncredited)', 'Ennio Torresan (uncredited)']                                              1
['William Reiss', 'Chuck Klein']                                                                          1
['C.H. Greenblatt', 'Erik Wiese']                                                                         1
Bill Reiss                                                                                                1
['C.H. Greenblatt', 'Ennio Torresan (American TV airings, digital releases, and streaming services)']     1
['Zeus Cervas', 'Chuck Klein', 'Carson Kugler', 'Mike Roth']                                              1
['Heather Martinez', 'Mike Roth']                                                                         1
['Caleb Meurer', 'Carson Kugler']                                                                         1
Jay Lender (uncredited)                                                                                   1
['Carson Kugler', 'Heather Martinez', 'William Reiss', 'Mike Roth']                                       1
['Caleb Meurer', 'C.H. Greenblatt (uncredited)']                                                          1
['Zeus Cervas', 'Carson Kugler', 'Caleb Meurer', 'William Reiss']                                         1
Kristen Morrison                                                                                          1
Name: count, dtype: int64

In [55]:
# df['Storyboard Artists'].describe()
# df = df.dropna(subset=['Storyboard Artists'])
# df = df.rename(columns={'Storyboard Artists': 'viewers'})
# df.rename(columns={'Storyboard Artists': 'viewers'})

fred
0    532
1     27
Name: count, dtype: int64
jhon
0    537
1     22
Name: count, dtype: int64
Brian
0    541
1     18
Name: count, dtype: int64
Erik
0    559
Name: count, dtype: int64
Greenblatt
0    549
1     10
Name: count, dtype: int64
Kelly
0    550
1      9
Name: count, dtype: int64
Caleb
0    552
1      7
Name: count, dtype: int64
outros
1    466
0     93
Name: count, dtype: int64