<a href="https://colab.research.google.com/github/SibeleTatiana/WebAggregat/blob/main/Projeto_Challenge_Entrega_Hellynson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df_dados_cnpj = pd.read_csv('/content/cnpjs.csv',
                              sep = ';',
                              encoding='UTF-8',
                              decimal=',')
df_dados_cnpj

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,NOME DA CIDADE NO EXTERIOR,PAIS,...,DDD 1,TELEFONE 1,DDD 2,TELEFONE 2,DDD DO FAX,FAX,EMAIL,SITUAÇÃO ESPECIAL,DATA DA SITUAÇÃO ESPECIAL,Unnamed: 30
0,63950158,1,42,1,CINTHYA,8,20210728,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26711226,1,94,1,AGROPASTORIL REUNIDAS BAHIA,8,19940831,9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63950216,1,38,1,NaN,8,20081231,71,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63950224,1,84,1,NaN,8,20080414,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63950364,1,52,1,NaN,8,19920527,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,26738658,1,99,1,COMERCIAL ANDRADE,8,20081231,71,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,63975676,1,10,1,NaN,8,19920331,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,8598286,1,60,1,CANINDIA,8,20081231,71,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,63975692,1,3,1,NaN,2,20051103,0,NaN,NaN,...,16.0,81657424.0,NaN,NaN,NaN,NaN,IZILDAMODASITIRAPUA@GMAIL.COM,NaN,NaN,NaN
999,63975726,1,60,1,NaN,8,19901231,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
import pandas as pd

# Carregar o arquivo CSV
df = pd.read_csv('/content/cnpjs.csv', sep=";")

# Concatenar as três primeiras colunas em uma única coluna 'cnpj'
df['cnpj'] = df['CNPJ BÁSICO'].astype(str) + df['CNPJ ORDEM'].astype(str) + df['CNPJ DV'].astype(str)

# Selecionar as colunas 'DATA DE INÍCIO ATIVIDADE' e 'CNAE FISCAL PRINCIPAL'
# e renomeá-las para 'data_abertura' e 'codigo_atividade_principal'
df = df.rename(columns={'DATA DE INÍCIO ATIVIDADE': 'data_abertura', 'CNAE FISCAL PRINCIPAL': 'codigo_atividade_principal'})

# Manter apenas as colunas desejadas
df = df[['cnpj', 'data_abertura', 'codigo_atividade_principal']]

# Exibir o DataFrame resultante
print(df)

            cnpj  data_abertura  codigo_atividade_principal
0    63950158142       19900720                     1094500
1    26711226194       19900821                     4774100
2    63950216138       19900719                     8888888
3    63950224184       19900720                     5611203
4    63950364152       19900720                     8888888
..           ...            ...                         ...
995  26738658199       19901001                     4712100
996  63975676110       19900727                     1359600
997   8598286160       19840229                     8888888
998   6397569213       19900727                     4781400
999  63975726160       19900727                     4711301

[1000 rows x 3 columns]